In [1]:
import pandas as pd
import matplotlib
%matplotlib inline
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import pickle
import matplotlib.dates as mdates

In [2]:
from sqlalchemy import create_engine
USER = "ciara"
PASSWORD = "Ciara123"
PORT = "3306"
DB = "dbbikes"
URI = "dbbikes.cvr6gofoxmkp.us-east-2.rds.amazonaws.com"
engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

In [3]:
sql = f"""
SELECT id, number, updated_on, available_bikes, available_bike_stands
FROM dbbikes_info
WHERE updated_on is not null and updated_on >= '2021-03-24 19:25:16'
GROUP BY id, day(updated_on)
ORDER by id desc, updated_on desc;
"""

In [4]:
bike_df = pd.read_sql_query(sql, engine)

2021-04-11 14:34:15,598 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-04-11 14:34:15,599 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,629 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-04-11 14:34:15,630 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,693 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-04-11 14:34:15,694 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,750 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-04-11 14:34:15,751 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,781 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-04-11 14:34:15,782 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,810 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-04-11 14:34:15,811 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,838 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-04-11 14:34:15,839 INFO sqlalchemy.engine.base.Engine {}
2021-04-11 14:34:15,919 INFO sqlalchemy.engine.base.OptionEngine
SELECT id, number, updated_on, available_bikes, available_bike_stands
FROM dbbikes_info
WHERE updated_on is not null and updated_on >= '2021-03-24 19:25:16'
GROUP BY id, day(updated_on)
ORDER by id desc, updated_on desc;

2021-04-11 14:34:15,921 INFO sqlalchemy.engine.base.OptionEngine {}

In [5]:
bike_df['updated_on'] = bike_df['updated_on'].astype('datetime64[ns]')
bike_df['updated_on'] = pd.to_datetime(bike_df['updated_on'])
bike_df

,id,number,updated_on,available_bikes,available_bike_stands
0,1267838,88,2021-04-11 16:55:56,22,8
1,1267837,21,2021-04-11 16:52:37,9,21
2,1267836,92,2021-04-11 16:58:58,6,34
3,1267835,83,2021-04-11 16:57:08,12,27
4,1267834,39,2021-04-11 16:52:23,3,17
...,...,...,...,...,...
553267,714514,52,2021-03-24 19:27:10,0,32
553268,714513,32,2021-03-24 19:28:35,10,20
553269,714511,6,2021-03-24 19:28:23,2,18
553270,714507,30,2021-03-24 19:29:17,7,13
553271,714506,42,2021-03-24 19:28:58,24,6

In [6]:
bike_df.dtypes

id                                int64
number                            int64
updated_on               datetime64[ns]
available_bikes                   int64
available_bike_stands             int64
dtype: object

In [7]:
bike_df.shape

(553272, 5)

In [8]:
bike_df.tail()

,id,number,updated_on,available_bikes,available_bike_stands
553267,714514,52,2021-03-24 19:27:10,0,32
553268,714513,32,2021-03-24 19:28:35,10,20
553269,714511,6,2021-03-24 19:28:23,2,18
553270,714507,30,2021-03-24 19:29:17,7,13
553271,714506,42,2021-03-24 19:28:58,24,6

In [9]:
sql = f"""
SELECT * FROM weather;
"""

In [10]:
weather_df = pd.read_sql_query(sql, engine)

2021-04-11 14:34:27,194 INFO sqlalchemy.engine.base.OptionEngine
SELECT * FROM weather;

2021-04-11 14:34:27,196 INFO sqlalchemy.engine.base.OptionEngine {}

In [11]:
weather_df.dtypes

id                      int64
description            object
temp                  float64
last_update    datetime64[ns]
dtype: object

In [12]:
# category    
weather_df['description'] = weather_df['description'].astype('category')    

# datetime   
weather_df['last_update'] = weather_df['last_update'].astype('datetime64[ns]')

In [13]:
weather_df.dtypes

id                      int64
description          category
temp                  float64
last_update    datetime64[ns]
dtype: object

In [14]:
weather_df.shape

(5017, 4)

In [15]:
weather_df.tail()

        id    description  temp         last_update
5012  5013     light rain  6.08 2021-04-11 18:00:28
5013  5014     light rain  6.08 2021-04-11 18:00:28
5014  5015  moderate rain  5.76 2021-04-11 18:20:02
5015  5016  moderate rain  5.76 2021-04-11 18:20:02
5016  5017  moderate rain  5.76 2021-04-11 18:20:02

In [16]:
bike_df.sort_values('updated_on', inplace=True)
weather_df.sort_values('last_update', inplace=True)

In [17]:
df = pd.merge_asof(bike_df, weather_df, left_on='updated_on', right_on='last_update')

In [18]:
df.shape

(553272, 9)

In [19]:
df = df.drop(['last_update'], axis=1)

In [20]:
df.tail(5)

,id_x,number,updated_on,available_bikes,available_bike_stands,id_y,description,temp
553267,1267774,7,2021-04-11 16:59:24,5,24,5000,moderate rain,7.0
553268,1267751,90,2021-04-11 16:59:29,16,23,5000,moderate rain,7.0
553269,1267803,22,2021-04-11 16:59:32,8,12,5000,moderate rain,7.0
553270,1267793,69,2021-04-11 16:59:36,16,23,5000,moderate rain,7.0
553271,1267831,29,2021-04-11 16:59:39,19,9,5000,moderate rain,7.0

In [21]:
df = df.drop(['id_y'], axis=1)

In [22]:
df = df.drop(['id_x'], axis=1)

In [23]:
df.tail(5)

,number,updated_on,available_bikes,available_bike_stands,description,temp
553267,7,2021-04-11 16:59:24,5,24,moderate rain,7.0
553268,90,2021-04-11 16:59:29,16,23,moderate rain,7.0
553269,22,2021-04-11 16:59:32,8,12,moderate rain,7.0
553270,69,2021-04-11 16:59:36,16,23,moderate rain,7.0
553271,29,2021-04-11 16:59:39,19,9,moderate rain,7.0

In [24]:
df.shape

(553272, 6)

In [25]:
print('Number of duplicate (excluding first) rows in the table is: ', df.duplicated().sum())

print('Number of duplicate rows (including first) in the table is:', df[df.duplicated(keep=False)].shape[0])

Number of duplicate (excluding first) rows in the table is:  252829
Number of duplicate rows (including first) in the table is: 497467

In [26]:
df = df.drop_duplicates(keep='last')
print('Duplicate remaining rows:', df[df.duplicated(keep='last')].shape[0])

Duplicate remaining rows: 0

In [27]:
df.shape

(300443, 6)

In [28]:
df

,number,updated_on,available_bikes,available_bike_stands,description,temp
1,28,2021-03-24 19:25:34,3,27,clear sky,7.01
3,29,2021-03-24 19:25:40,1,28,clear sky,7.01
5,96,2021-03-24 19:25:43,15,15,clear sky,7.01
6,34,2021-03-24 19:25:45,12,17,clear sky,7.01
8,38,2021-03-24 19:26:04,16,24,clear sky,7.01
...,...,...,...,...,...,...
553267,7,2021-04-11 16:59:24,5,24,moderate rain,7.00
553268,90,2021-04-11 16:59:29,16,23,moderate rain,7.00
553269,22,2021-04-11 16:59:32,8,12,moderate rain,7.00
553270,69,2021-04-11 16:59:36,16,23,moderate rain,7.00
553271,29,2021-04-11 16:59:39,19,9,moderate rain,7.00

In [29]:
df.shape

(300443, 6)

In [30]:
stations = list(sorted(df.number.unique()))

In [31]:
print(df.keys())

Index(['number', 'updated_on', 'available_bikes', 'available_bike_stands',
       'description', 'temp'],
      dtype='object')

In [32]:
y = df['available_bikes']
print(y)
y.head(5)

1          3
3          1
5         15
6         12
8         16
          ..
553267     5
553268    16
553269     8
553270    16
553271    19
Name: available_bikes, Length: 300443, dtype: int64

1     3
3     1
5    15
6    12
8    16
Name: available_bikes, dtype: int64

In [33]:
X = df['updated_on'].astype('int64')
print(X)
X.head(5)
# X = pd.DataFrame(df, columns=df.keys())
# del X['available_bikes']
# del X['description']
# print(X)

# X['updated_on'] = X['updated_on'].astype('int64')

# X.dtypes

1        2021-03-24 19:25:34
3        2021-03-24 19:25:40
5        2021-03-24 19:25:43
6        2021-03-24 19:25:45
8        2021-03-24 19:26:04
                 ...
553267   2021-04-11 16:59:24
553268   2021-04-11 16:59:29
553269   2021-04-11 16:59:32
553270   2021-04-11 16:59:36
553271   2021-04-11 16:59:39
Name: updated_on, Length: 300443, dtype: datetime64[ns]

1   2021-03-24 19:25:34
3   2021-03-24 19:25:40
5   2021-03-24 19:25:43
6   2021-03-24 19:25:45
8   2021-03-24 19:26:04
Name: updated_on, dtype: datetime64[ns]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
model = LinearRegression().fit(X_train, y_train)

with open('model.pkl', 'wb') as handle:
    pickle.dump(model, handle, protocol = pickle.HIGHEST_PROTOCOL)

ValueError: Expected 2D array, got 1D array instead:
array=['2021-03-30T22:56:12.000000000' '2021-04-07T10:46:06.000000000'
 '2021-03-29T07:48:48.000000000' ... '2021-03-30T02:31:53.000000000'
 '2021-04-01T07:32:19.000000000' '2021-03-25T19:02:44.000000000'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
model.predict([[1649701681000000]])